<html lang="en-us">
  <head>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="crossfilter.js"></script>
    <script>

$(document).ready(function() {
  $.getJSON("dataProperties.json", function(data) {
    var cf = crossfilter(data);
    var byKey = cf.dimension(function(d) {return d.key;});
    var byVarname = cf.dimension(function(d) {return d.varname;});
    var byProperty = cf.dimension(function(d) {return d.property;});
  
    data.forEach(function(d) {
      $('<div class="dp_img" id="' + d.key + '"></div>')
        .appendTo("#dataProperties")
        .append("<p>" + d.key  + "</p>")
        .append('<img src="' + d.filename + '"/>');
    });

    byVarname.group().all().forEach(function(d) {
      $(".dp_varnames").append('<input type="checkbox" checked class="dp_check" id="dp_check_varname_' + d.key + '"/>' + d.key + '<br>');
    });

    byProperty.group().all().forEach(function(d) {
      $(".dp_properties").append('<input type="checkbox" checked class="dp_check" id="dp_check_property_' + d.key + '"/>' + d.key + '<br>');
    });

    $(".dp_check").click(function() {
      byVarname.filter(function(d) {
        return $("#dp_check_varname_" + d).is(":checked");
      });

      byProperty.filter(function(d) {
        return $("#dp_check_property_" + d).is(":checked");
      });

      $(".dp_img").css("display", "none");
      byKey.top(Infinity).forEach(function(d) {
        $("#"+d.key).css("display", "block");
      });
      // console.log(byKey.top(Infinity));
    });
  });
 

  $.getJSON("compressionResults.json", function(data) {
    var cf = crossfilter(data);
    var byKey = cf.dimension(function(d) {return d.key;});
    var byCompressor = cf.dimension(function(d) {return d.compressor;});
    var byBound = cf.dimension(function(d) {return d.bound;});
    var byVarname = cf.dimension(function(d) {return d.varname;});
    var byProperty = cf.dimension(function(d) {return d.property;});
  
    data.forEach(function(d) {
      $('<div class="cr_img" id="' + d.key + '"></div>')
        .appendTo("#compressionResults")
        .append("<p>" + d.key  + "</p>")
        .append('<img src="' + d.filename + '"/>');
    });

    byCompressor.group().all().forEach(function(d) {
      $(".cr_compressors").append('<input type="checkbox" checked class="cr_check" id="cr_check_compressor_' + d.key + '"/>' + d.key + '<br>');
    });

    byBound.group().all().forEach(function(d) {
      $(".cr_bounds").append('<input type="checkbox" checked class="cr_check" id="cr_check_bound_' + d.key + '"/>' + d.key + '<br>');
    });

    byVarname.group().all().forEach(function(d) {
      $(".cr_varnames").append('<input type="checkbox" checked class="cr_check" id="cr_check_varname_' + d.key + '"/>' + d.key + '<br>');
    });

    byProperty.group().all().forEach(function(d) {
      $(".cr_properties").append('<input type="checkbox" checked class="cr_check" id="cr_check_property_' + d.key + '"/>' + d.key + '<br>');
    });

    $(".cr_check").click(function() {
      byCompressor.filter(function(d) {
        return $("#cr_check_compressor_" + d).is(":checked");
      });
      
      byBound.filter(function(d) {
        return $("#cr_check_bound_" + d).is(":checked");
      });
      
      byVarname.filter(function(d) {
        return $("#cr_check_varname_" + d).is(":checked");
      });

      byProperty.filter(function(d) {
        return $("#cr_check_property_" + d).is(":checked");
      });

      $(".cr_img").css("display", "none");
      byKey.top(Infinity).forEach(function(d) {
        $("#"+d.key).css("display", "block");
      });
      // console.log(byKey.top(Infinity));
    });
  });
});
    
    </script>
  </head>
  <body>
    <div id="dataProperties">
      <div class="filters">
        <div class="dp_varnames">Varnames:<br></div>
        <div class="dp_properties">Properties:<br></div>
      </div>
    </div>
    <div id="compressionResults">
      <div class="filters">
        <div class="cr_compressors">Compressor:<br></div>
        <div class="cr_bounds">Bound:<br></div>
        <div class="cr_varnames">Varnames:<br></div>
        <div class="cr_properties">Properties:<br></div>
      </div>
    </div>
    <div id="comparisonResults">
    </div>
  </body>
</html>
